body,html{font-family:"Microsoft YaHei";line-height:1.4;}

.title {
	color: #1bbec8;
	text-align: center;
}

.childTitle {
	color: #1bbec8;
	line-height: 36px;
	border-bottom: 2px solid #1bbec8;
	padding-left: 20px;
	padding-right: 10px;
	text-align: left;
}

.rightPadding {
	padding-right: 220px;
    margin-right: -205px;
    float: left;
}

/*è®¾ç½®minUIçš„æ ·å¼*/
.mini-textbox,.mini-buttonedit {
	width: 100%;
    height: auto !important;
    border:1px solid #ccc;
}

.mini-textbox-border,.mini-buttonedit-border {
	height: auto;
}

.mini-buttonedit-buttons {
	clear: both;
	position: absolute;
	right: 0px;
	top: 5px;
}


.mini-checkbox label {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	line-height: inherit;
	margin: 0px;
	height: 100%;
	min-height:20px;
	width: 100px;
	display: inline-block;
	padding-left: 15px;
	box-sizing: border-box;
	background: url(/default/images/form/ic_checkbox_n.png) no-repeat;
	background-position: 0px 50%;
	user-select: none;
	cursor: pointer;
	display: inline-block;
}

.mini-checkbox label:active {
	color: green;
}

.mini-checkbox label,label active {
	color: green;
}
.mini-checkbox-check {
	display: none;
}

.mini-checkbox input[type=checkbox]:checked+label {
	background: url("/default/images/form/ic_checkbox_p.png") no-repeat;
	background-position: 0 50%;
}

/*åŠžç†ä¿¡æ¯æ–°å¢žä¸»ä¼šåŠž*/
.addTable {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 15px;
	padding: 0px 15px;
	background: #e2e5e5;
	border-top: none;
	font-size: 16px;
	margin: 2px 0px;
}

.addTable tr td .table-label {
	width: 120px;
}

.addTable.delete {
	border: 3px dotted #fc5451;
}

.closeTd {
	background: url("/default/images/form/ic_form_off.png");
	width: 20px;
	height: 20px;
	float: right;
	top: 10px;
	position: relative;
	z-index: 2;
	right: -10px;
	cursor: pointer;
	display: none;
}

.btn-green {
	padding: 0 10px;
	position: relative;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	vertical-align: middle;
	background: #5bc0de;
	color: #fff;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
	user-select: none;
}

.btn-grey {
	padding: 0 10px;
	position: relative;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	vertical-align: middle;
	background: #cfd2d1;
	color: #656867;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
	user-select: none;
}

.btn-grey:active {
	background: #b5b7b7;
}

.btn-green:active {
	background: #039DAB;
}

/*æ—¥åŽ†æŒ‰é’®ä¼˜åŒ–*/
.mini-datepicker .mini-buttonedit-icon {
	background: url(/default/ame_dailyoffice/SealGovern/css/image/ic_time_n.png) no-repeat;
}

.mini-buttonedit-icon,.mini-buttonedit-button {
	display: block;
	width: 20px;
	height: 20px;
	overflow: hidden;
}

.mini-buttonedit-button-pressed,.mini-buttonedit-popup .mini-buttonedit-button
	{
	border: none;
}

.mini-buttonedit-button-pressed,.mini-buttonedit-popup .mini-buttonedit-button
	{
	background: none;
}

.mini-buttonedit-button-hover,.mini-buttonedit-hover .mini-buttonedit-button
	{
	background: none;
	border: none;
}

.secondTab {
	line-height: 46px;
	font-size: 14px;
	padding-left: 15px;
	border-bottom: 1px solid #e3e3e3;
}

.secondTab span {
	padding: 0 5px;
	position: relative;
	cursor: pointer;
}

.secondTab span.cur {
	color: #2eaba2;
	font-weight: bold;
}

.secondTab span.cur:before {
	position: absolute;
	z-index: 999;
	content: "";
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #dedede;
	bottom: -15px;
	right: 36px;
}

.secondTab span.cur:after {
	position: absolute;
	z-index: 999;
	bottom: -17px;
	right: 36px;
	content: "";
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #fff;
}

.secondTabTwo {
	display: none;
}

/*å‘æ–‡è¡¨å•é¡µé¢æ ·å¼*/
.fwFormPage .rightPadding {
	padding-right: 220px;
	margin-right: -225px;
}

.btn_gz {
	float: left;
	font-size: 14px;
	margin-left: 20px;
	box-sizing: border-box;
	padding: 2px;
	padding-left: 28px;
	background-repeat: no-repeat;
	cursor: pointer;
	background-image: url(/default/images/form/blue_btn_gzaj.png);
	background-position: 0 50%;
}

.delajgl {
	color: red;
	position: absolute;
	z-index: 2;
	right: 14px;
	top: -7px;
}


.formTable {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 15px;
	background: #f4fbfc;;
	padding: 0 20px;
	border: 1px solid #d1e4e6;
	border-top: none;
	font-size: 16px;
}

.formTable textarea {
	width: 100%;
	resize: none;
	padding: 0;
	border: 1px solid #ddddde;
	font-size: 16px;
}

.formTable .table-label {
	text-align: center;
	text-align: justify;
	text-justify: distribute-all-lines;
	text-align-last: justify;
	padding-right: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 1%;
	font-weight: bold;
}

.formTable .table-value {
	padding-right: 20px;
}

.formTable .table-value input {
	width: 100%;
	line-height: 30px;
	height: 30px;
	font-size:16px;
}

.formTable input[type='button']{
    display: inline-block;
    outline: none;
    border: 0px;
    float: left;
    width: auto;
	
}

.formTable tr td:last-child {
	padding: 0px;;
}

.height100{
	height:100px !important;
	}
body .mini-textbox *,body .mini-buttonedit * {
	border-radius: 4px;
}

.funcBtn {
    float: right;
    font-size: 14px;
    padding-left: 40px;
    line-height: 36px;
    color: #333;
    background-position: 18px 10px;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.funcBtn:hover,.funcBtn:active {
	color: #21a092;
}

.funcBtn.add {
	background-image: url("/default/images/form/ic_tianj.png");
	background-repeat: no-repeat;
}

.funcBtn.delete {
	background-image: url("/default/images/form/ic_sc.png");
	background-repeat: no-repeat;
}

.funcBtn.edit {
	background-image: url("/default/images/form/ic_edit.png");
	background-repeat: no-repeat;
}

.mini-panel-header-inner{
	padding:0px;
}
.mini-panel-header{
	height:44px;
	/* background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0889c8),
		color-stop(100%, #07cabd)) !important;
	background: -webkit-linear-gradient(left, #0889c8 0%, #07cabd 100%) !important;
	background: -o-linear-gradient(left, #0889c8 0%, #07cabd 100%) !important;
	background: -ms-linear-gradient(left, #0889c8 0%, #07cabd 100%) !important;
	background: linear-gradient(to right, #0889c8 0%, #07cabd 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0889c8',
		endColorstr='#07cabd', GradientType=1) !important; */
	color:#fff;
	font-size:16px;
}
.mini-panel-title{
	position: relative;
    top: 15px;
    left: 15px;
}
.mini-tools-close {
	background: url("../images/modal/blue_ic_off.png") no-repeat 50% 1px;;
    width: 16px !important;
    height:16px !important;
    margin-top: 10px;
    margin-left:10px

}
.mini-tools-max {
	background: url("../images/modal/blue_ic_fd.png") no-repeat 50% 1px;;
    width: 16px !important;
    height:16px !important;
    margin-top: 5px;
    margin-left:10px
}
.mini-tools-restore {
	background: url("../images/modal/blue_ic_sx.png") no-repeat 50% 1px;;
    width: 16px !important;
    height:16px !important;
    margin-top: 5px;
    margin-left:10px
}

.mini-textbox, .mini-buttonedit{height:30px !important;}
.mini-textbox *,.mini-buttonedit *{height:100%;}

body .mini-textbox-disabled .mini-textbox-border,
body .mini-buttonedit-disabled .mini-buttonedit-border, body .mini-buttonedit-disabled .mini-buttonedit-input,
body .mini-buttonedit-disabled .mini-buttonedit-button{
	background: #fff;
}

body .mini-required .mini-textbox-border,
body .mini-required .mini-buttonedit-border, 
body .mini-required .mini-buttonedit-input,
body .mini-required .mini-buttonedit-button{
	background: #ffffe6;
}


/* css reset www.admin10000.com */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td ,b{ font-family:"Microsoft YaHei";box-sizing:border-box;
	/*margin:0; padding:0;*/ }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }