body{ margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;}
body td .mini-textarea{height:auto;}
td .mini-textbox,td .mini-buttonedit {
	width: 100%;
}
.height100{height:100px !important;}
input{width:100%;}
.opa{opacity:0;}
.hide{display:none;}

.select_tr{position:relative;}
.select_clear{
	cursor:pointer;
	font-weight:bold;
    position: absolute;
    right: 0;
    z-index: 2;
    top: 0px;
    right: 22px;
}