* {
	margin: 0;
	padding: 0;
}

.clear {
	content: "";
	display: block;
	clear: both;
}

ul li {
	list-style: none;
}

body {
	overflow: auto;
}

.hysq-content {
	width: calc(100% - 40px);
	overflow: hidden;
	margin: 20px auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 15px #8c8c8c;
}
/*头部标题*/
.hysq-title {
	height: 60px;
	width: 100%;
	position: relative;
	font-size: 14px;
	box-shadow: 0px 3px 3px #cbc9c9;
	background: #f2f2f4;
}
/*左*/
.hysq-title .title-left {
	position: absolute;
	margin-top: 16px;
}

.hysq-title .title-left div {
	float: left;
	width: 35px;
	height: 28px;
	color: #8f8f91;
	cursor: pointer;
	line-height: 28px;
	text-align: center;
	border: solid 1px #e0e1e3;
}

.hysq-title .title-left div.title-sjx {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.hysq-title .title-left div.title-week {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.hysq-title .title-left div.title-today {
	margin-left: 15px;
	width: 50px;
	border-radius: 5px;
}

.hysq-title .title-left div.active {
	background: #e0e1e3;
}

/*中*/
.hysq-title .date-show {
	position: absolute;
	font-size: 19px;
	color: #8f8f91;
	font-weight: 600;
	margin-top: 18px;
	left: 31%;
}

#prev-day {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 5px;
	background: url("image/blue_ic_hyrc_left_n.png");
	cursor: pointer;
	margin-right: 15px;
}

#next-day {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 5px;
	background: url("image/blue_ic_hyrc_right_n.png");
	cursor: pointer;
	margin-left: 15px;
}

.hysq-title .date-show b {
	position: relative;
	top: 1px;
}

/*右*/
.hysq-title .title-right {
	right: 15px;
	margin-top: 15px;
	position: absolute;
	color: #8f8f91;
}

.hysq-title .title-right b {
	width: 20px;
	height: 14px;
	border: 1px solid #f29460;
	display: inline-block;
	position: relative;
	top: 2px;
}

.hysq-title .title-right span {
	margin-left: 5px;
}

.hysq-title .title-right b.dsp {
	
}

.hysq-title .title-right b.sptg {
	border: 1px solid #48c4a0;
}

.hysq-title .title-right b.add {
	background: url("image/add.png") no-repeat;
	width: 22px;
	height: 22px;
	border: none;
}

.hysq-title .title-right div {
	float: left;
}

.hysq-title .title-right div {
	margin-right: 20px;
	margin-top: 5px;
}

.hysq-title .title-right span.add {
	position: relative;
	bottom: 6px;
}

.hysq-title .title-right .addMetting {
	cursor: pointer;
}

.hysq-title .title-left input {
	float: left;
	width: 0;
}

/*时间节点*/
.time_node {
	width: calc(100% - 70px);
	height: 40px;
	font-size: 14px;
	position: relative;
	border: solid 1px #dbdbdb;
	margin-left: 35px;
	margin-top: 25px;
}

.time_node div {
	text-align: center;
	line-height: 40px;
	height: 40px;
	color: #A0A0A0;
	float: left;
	width: 80px;
}

.time_node div:first-of-type {
	margin-left: 59px;
}

/*会议表格*/
.mettingContent {
	width: calc(100% - 70px);
	height: calc(100% - 70px);
	font-size: 14px;
	margin-left: 35px;
}

.mettingContent .meeting_eq div {
	width: 40px;
	border-right: solid 1px #bfbfbf;
	border-bottom: solid 1px #dbdbdb;
	height: 50px;
	float: left;
	position: relative;
	z-index: 10;
}

.mettingContent .meeting_eq div.first_td {
	border-left: solid 1px #dbdbdb;
	width: 100px;
	color: #7E7E7E;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

.mettingContent .meeting_eq div.first_td:hover {
	text-decoration: underline;
}

.mettingContent .meeting_eq div.last_td {
	width: 81px;
	border-right: dotted 1px rgba(219, 219, 219, 0.5);
}

/*不合理时间*/
.mettingContent .meeting_eq div.dotted {
	border-right: dotted 1px #dbdbdb;
}

.mettingContent .meeting_eq div.failTime {
	background: rgba(179, 175, 175, 0.1);
	border-right: solid 1px #dbdbdb;
	z-index: 7;
}

/*日程信息*/
.mettingMsg .msg_1 {
	height: 26px;
	margin-top: 50px;
	border: solid 1px rgba(246, 142, 105, 0.5); 
	border-left : 1px solid rgba( 246, 142, 105, 0.5);
	text-indent: 10px;
	color: #d8918d;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	z-index: 11;
	background: rgba(246, 142, 105, 0.12);
	border-radius: 2px;
	border-left: 3px solid rgba(246, 142, 105, 0.5);
}

.mettingMsg .msg_click {
	cursor: pointer;
}

.mettingMsg .msg_click:hover {
	text-decoration: underline;
}

.mettingMsg .msg_ypz {
	border: solid 1px rgba(72, 196, 160, 0.5);
	border-left: solid 3px rgba(72, 196, 160, 0.5);
	background: rgba(76, 195, 165, 0.12);
	color: #48c4a0;
}

.mettingContent .meeting_eq div.select {
	
}

.mettingContent .time_eq div.ysp {
	border: solid 1px #aed6cb;
	border-left: 3px solid #49c5a0;
	text-indent: 10px;
	color: #70b49f;
}

.mettingContent .time_eq div.dsp {
	border: solid 1px #f1935f;
	border-left: 3px solid #f1935f;
	text-indent: 10px;
	color: #f1935f;
}

#addMeeting {
	z-index: 6;
}

.mettingMsg .msg_select {
	z-index: 6;
}

/*会议详细内容*/
#detailData {
	padding: 30px;
	background: #fff;
	box-shadow: 0px 3px 3px #cbc9c9;
}

/*头部logo*/
div.logo_div {
	height: 100px;
	width: 30px;
	background: url("image/blue_ic_hyrc.png") no-repeat;
	z-index: 10;
	position: absolute;
	top: 5px;
}

.logo_left {
	left: 60px;
}

.logo_right {
	right: 60px;
}

@media screen and ( max-width : 1024px) {
	.hysq-content {
		min-width: 1120px;
	}
	.logo_left {
		left: 1%;
	}
}

/*1366*768分辨率下面单元表格*/
.hysq-content_1366 {
	width: 100%;
	margin: 20px auto 0;
}

.hysq-content_1366 .mettingContent .meeting_eq div {
	height: 40px;
}

.hysq-content_1366 .mettingContent .meeting_eq div.first_td {
	line-height: 40px;
}

/*会议悬浮信息*/
#hyHover {
	width: 250px;
	min-height: 113px;
	border-radius: 2px;
	box-shadow: 5px 5px 15px rgba(2, 43, 52, 0.18);
	border: solid 1px #eee;
	/* opacity: 0; */
	z-index: 15;
	padding: 10px;
	font-size: 14px;
	color: #666;
	background: rgba(255, 255, 255, 0.75);
	/* transition: opacity 1s; */
	position: absolute;
	display: none;
}

#hyHover div {
	padding: 2px;
	width: 100%;
	/* overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; */
}

#hyHover div span {
	color: #999;
}

#hyHover div b {
	color: #666666;
	font-weight: 500;
}