########## IDEs ##########

# Eclipse
.settings/
.metadata
 */bin
  bin/

########## OS ##########

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Window
*.lnk
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*
*.pid
.Trash-*
.directory
.fuse_hidden*

########## JAVA ##########

# Class
*.class

# Target
*/target
target/

# Log
*.log
logs/
*.log.gz
