*{margin: 0;padding: 0;}
.clear{content: "";display: block;clear:both; }
ul li{list-style: none;}

body{background: #e7e7e7;overflow:auto;}
.hysq-content{width: 100%;overflow: hidden;margin: 20px auto 0;background: #fff;border-radius: 10px;box-shadow: 0 0 15px #8c8c8c;}
/*头部标题*/
.hysq-title{height: 60px;width: 100%;position: relative;font-size: 14px;box-shadow: 0px 3px 3px #cbc9c9;background:#f2f2f4; }
/*左*/
.hysq-title .title-left{position: absolute;margin-top: 16px;left:6%;}
.hysq-title .title-left div{float: left;width: 35px;height: 28px;color: #8f8f91;cursor: pointer;line-height: 28px;text-align: center;border: solid 1px #e0e1e3;}
.hysq-title .title-left div.title-sjx{border-bottom-left-radius: 3px;border-top-left-radius: 3px;}
.hysq-title .title-left div.title-week{border-bottom-right-radius: 3px;border-top-right-radius: 3px;}
.hysq-title .title-left div.title-today{margin-left: 15px;width: 50px;border-radius: 5px;}
.hysq-title .title-left div.active{background: #e0e1e3;}

/*中*/
.hysq-title .date-show{position: absolute;font-size: 19px;color: #8f8f91;font-weight: 600;margin-top: 18px;left:22%;}
#prev-day{display: inline-block;width: 16px;height: 16px;margin-top: 5px;background: url("image/blue_ic_hyrc_left_n.png");cursor: pointer;margin-right: 15px;}
#next-day{display: inline-block;width: 16px;height: 16px;margin-top: 5px;background: url("image/blue_ic_hyrc_right_n.png");cursor: pointer;margin-left: 15px;}
.hysq-title .date-show b{position: relative;top: 1px;}

/*右*/
.hysq-title .title-right{right: 15px;margin-top: 15px;position: absolute;color: #8f8f91;}
.hysq-title .title-right b{width: 20px;height: 14px;border: 1px solid #f29460;display: inline-block;position: relative;top: 2px;}
.hysq-title .title-right span{margin-left: 5px;}
.hysq-title .title-right b.dsp{}
.hysq-title .title-right b.sptg{border: 1px solid #48c4a0;}
.hysq-title .title-right b.add{background: url("image/add.png")no-repeat;width: 22px;height: 22px;border: none;}
.hysq-title .title-right div{float: left;}
.hysq-title .title-right div{margin-right: 20px;margin-top: 5px;}
.hysq-title .title-right span.add{position: relative;bottom: 6px;}
.hysq-title .title-right .addMetting{cursor: pointer;}

.hysq-title .title-left input{float: left;width:0;}

.g-time-content{width: calc(100% - 35px);overflow: hidden;height: calc(100% - 60px);}
/*时间节点*/
.time_node{width: calc(100% - 35px);height: 40px;font-size: 14px;position: relative;border: solid 1px #dbdbdb;margin-left: 35px;margin-top: 25px;}
.time_node div{text-align: center;line-height: 40px;height: 40px;color: #A0A0A0;float: left;border-right: solid 1px #dbdbdb;}
.time_node div:first-of-type{width: 99px;}
.time_node div:last-of-type{border-right: none;}

/*会议表格*/
.mettingContent{width:100%;font-size: 14px;margin-left: 35px;height: calc(100% - 90px);overflow-y: auto;}
.mettingContent .meeting_eq{height: 55%;}
.mettingContent .meeting_eq:first-of-type{height: 44%;}
.mettingContent .meeting_eq div{width: 40px;border-right: solid 1px #dbdbdb;border-bottom: solid 1px #dbdbdb;height: 100%;float: left;position: relative;z-index: 10;}
.mettingContent .meeting_eq div.first_td{border-left: solid 1px #dbdbdb;width: 100px;color: #7E7E7E;font-size: 14px;text-align: center;cursor: pointer;}
.mettingContent .meeting_eq div.last_td{width: 81px;border-right: solid 1px #dbdbdb;}
.mettingContent .meeting_eq div.first_td b{position: relative;top:calc(50% - 50px);}
.mettingContent .meeting_eq:first-of-type div{border-bottom: solid 1px #afafaf;}

/*不合理时间*/
.mettingContent .meeting_eq div.dotted{border-bottom: dotted 1px #dbdbdb;}
.mettingContent .meeting_eq div.failTime{background: rgba(160,160,160,0.16);border-right: solid 1px #dbdbdb;z-index: 7;}

/*日程信息*/
.mettingContent .meeting_eq div .msg_1{border: solid 1px #f68e69;text-indent: 10px;color: #d8918d;overflow: hidden; white-space: nowrap; text-overflow: clip;z-index: 11;background: rgba(246,142,105,0.12);border-radius: 2px;width: 100%;height: 74px;margin-bottom: 1px;}
.mettingContent .meeting_eq div .msg_ypz{border: solid 1px #48c4a0;background: rgba(76,195,165,0.12);color: #3da084;}
.mettingContent .meeting_eq div .ysp{border: solid 1px #aed6cb;border-left: 3px solid #49c5a0;text-indent: 10px;color: #70b49f;}
.mettingContent .meeting_eq div .dsp{border: solid 1px #f1935f;border-left: 3px solid #f1935f;text-indent: 10px;color: #f1935f;}

.mettingContent .meeting_eq div .msg_click{cursor: pointer;}
.mettingContent .meeting_eq div .msg_click:hover{text-decoration: underline;}
.mettingContent .meeting_eq div .msg_1 div{float: none;height: auto;border: none;padding: 2px;}
.mettingContent .meeting_eq div.td_time{position: relative;overflow: hidden;}
.mettingContent .meeting_eq div.td_time .td_time_div{width: calc(100% + 16px);overflow-y: scroll;overflow-x:hidden; border: none;z-index: 5;height: calc(100% - 10px);}
.mettingContent .meeting_eq div.border{border:solid 1px yellow;}
/*.mettingContent .meeting_eq div.td_time .td_time_div::-webkit-scrollbar{display: none;}*/


/*新建会议日程*/
.mettingMsg .msg_1{border: solid 1px #f68e69;text-indent: 10px;color: #d8918d;overflow: hidden; white-space: nowrap; text-overflow: clip;z-index: 11;background: rgba(246,142,105,0.12);border-radius: 2px;width: 100%;height: 74px;}
#addMeeting{z-index: 6;}
.mettingMsg .msg_select{z-index: 6;}

/*会议详细内容*/
#detailData{padding: 30px;background: #fff;box-shadow: 0px 3px 3px #cbc9c9;}

/*头部logo*/
div.logo_div{height: 100px;width: 30px;background: url("image/blue_ic_hyrc.png")no-repeat;z-index: 10;position: absolute;}
.logo_left{left:3%;}
.logo_right{right:3%;}

@media screen and ( max-width : 1024px) {
	.hysq-content{
		min-width:1120px;
	}
	.logo_left{left:1%;}
}

/*会议室*/
#hys{position: absolute;margin-top: 20px;height: 30px;z-index: 10;width: 220px;left:50%;}
#hys label{width: 50px;float: left;}
#hys div.hys_msg{width: calc(100% - 60px);float: right;height: 28px;position: relative;bottom: 4px;background: #dae0e2;cursor:pointer;}
#hys div.hys_msg div{height: 28px;line-height: 28px;text-indent: 5px;}
#hys div.hys_msg div span{float: left;width: calc(100% - 25px);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#hys div.hys_msg div b{float: right;width: 15px;height: 15px;background: url("image/ic_search.png")no-repeat;margin-right: 10px;margin-top: 8px;}
#hys div.hys_msg div.div_ul{width: 100%;display: none;background: #fff;height: auto;border: solid 1px #DBDBDB;}

#hys ul{width: calc(100% - 24px);margin-bottom: 0;margin-left: 12px;}
#hys ul li{width: 100%;height: 30px;background: #fff;line-height: 30px;text-indent: 5px;cursor: pointer;border-bottom: dotted 1px #cccccc;}
#hys ul li input{float: left;width: 20%;margin-top: 8px;}
#hys ul li div{float: right;width: 80%;height:30px;line-height: 30px;color: #337ab7;}
#hys ul li:hover div{font-weight: bold;}

#hys .div_ul .button{width: 100%;height: 50px;border-top: none;background: #fff;}
#hys .div_ul .button div{float: left;width: 50px;margin-left: 15px;height: 30px;background: #00a2d4;margin-top:10px;line-height: 30px;text-align: center;color: #fff;text-indent:0;cursor: pointer; }
