
/**
 * @authors petrus.law (you@example.org)
 * @date    2015-07-20 15:06:33
 * @version 基础样式
 */

.loading-warp{ display: table; width: 100%; margin-top: -3rem !important; }
.loading-warp .box{ width: 100%; padding-top: 1rem; padding-bottom: 1rem;
 display: table-cell; text-align: center; vertical-align: middle; }
.loading-warp .box img{ display: block; width: 4rem; height: 4rem; margin: -4rem auto 1rem;}
.loadi	ng-warp .box .text{ display: block; text-align: center; font-size: 2rem; 
	line-height:1rem; opacity: 0.7; margin-top: 1rem; }

