tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:常规;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	border-top:none;
	border-right:1.0pt solid #AEC2CD;
	border-bottom:none;
	border-left:none;
	background:#F7FDFD;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	color:#222222;
	mso-number-format:"Short Date";
	border:1.0pt solid #AEC2CD;
	background:#EBF3F5;
	mso-pattern:black none;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	color:#222222;
	border:1.0pt solid #AEC2CD;
	background:#EBF3F5;
	mso-pattern:black none;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	border:1.0pt solid #AEC2CD;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	color:#222222;
	mso-number-format:"Short Date";
	border:1.0pt solid #AEC2CD;
	background:#F7FDFD;
	mso-pattern:black none;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	color:#222222;
	border:1.0pt solid #AEC2CD;
	background:#F7FDFD;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	border-top:1.0pt solid #AEC2CD;
	border-right:1.0pt solid #AEC2CD;
	border-bottom:none;
	border-left:none;
	background:#F7FDFD;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	color:#222222;
	font-weight:700;
	text-align:center;
	border:1.0pt solid #AEC2CD;
	background:#F4F5F9;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	color:#222222;
	font-weight:700;
	border-top:1.0pt solid #AEC2CD;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:whitesmoke;
	mso-pattern:black none;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	color:#222222;
	font-weight:700;
	border-top:1.0pt solid #AEC2CD;
	border-right:1.0pt solid #AEC2CD;
	border-bottom:none;
	border-left:none;
	background:whitesmoke;
	mso-pattern:black none;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	color:#222222;
	font-weight:700;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #AEC2CD;
	border-left:none;
	background:whitesmoke;
	mso-pattern:black none;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	color:#222222;
	font-weight:700;
	border-top:none;
	border-right:1.0pt solid #AEC2CD;
	border-bottom:1.0pt solid #AEC2CD;
	border-left:none;
	background:whitesmoke;
	mso-pattern:black none;
	white-space:normal;}
