body {
	background-color: #eaeef1;
	font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
}

/* 横线容器样式 */
.line-container {
	position: relative;
	text-align: center;
	margin: 20px 0;
}

/* 横线样式 */
.line {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 1px;
	background-color: #000;
}

/* 中间文字样式 */
.center-text {
	position: relative;
	background-color: #eaeef1;
	padding: 0 10px;
	font-size: 30px;
	font-weight: bold;
}

/* 左侧文字样式 */
.left-text {
	position: absolute;
	left: 0;
	top: -10px;
	font-size: 26px;
	font-weight: bold;
}

/* 右侧文字样式，放置“统计期” */
.right-text {
	position: absolute;
	right: 0;
	top: -10px;
	font-size: 26px;
	font-weight: bold;
}

.header-text {
	font-size: 22px;
	font-weight: bold;
}

.header-text-small {
	font-size: 18px;
	font-weight: bold;
}

/* 自定义样式，用于调整布局和对齐 */
.data-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 5px 0px 58px 0px;
}

.data-item-compare {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 5px 0;
}

.data-title {
	font-size: 22px;
	margin-bottom: 4px;
	font-weight: bold;
}

.data-value {
	font-size: 34px;
	font-weight: bold;
	color: #3578f7;
}

/* 新增：中间分隔线样式 */
.middle-divider {
	position: absolute;
	top: 15%;
	bottom: 15%;
	left: 50%;
	width: 1px;
	background-color: #e6e6e6;
}

/* 同比数据项容器 */
.compare-item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 5px 0;
	font-size: 14px;
}

.compare-value {
	font-size: 22px;
	font-weight: bold;
}

.compare-up-value {
	background-color: #e9f6f5;
	padding: 4px 8px;
	border-radius: 4px;
	color: #51b295;
}

.layui-edge-top {
	border-bottom-color: #51b295;
}

.compare-down-value {
	background-color: #fbf0f0;
	padding: 4px 8px;
	border-radius: 4px;
	color: #df6b6f;
}

.layui-edge-bottom {
	border-top-color: #df6b6f;
}

/* 核心：选项卡样式 */
.tab-radio {
	display: inline-block;
	padding: 8px 16px;
	border: 1px solid #d8d8d8;
	cursor: pointer;
	color: #333;
	background: #fff;
	font-size: 18px;
	font-weight: bold;
}
/* 选中状态 */
.layui-form-radioed .tab-radio {
	border: 2px solid #4d80f5;
	color: #4d80f5;
	padding: 7px 15px;
}

.layui-form-radioed .tab-radio>span {
	color: #4d80f5;
}

/* 隐藏原始单选框 */
.layui-form-radio>input {
	display: none;
}

.layui-table {
	color: #000;
	font-size: 18px;
}

.layui-table td,.layui-table th {
	font-size: 18px;
}

.layui-form-select dl dd.layui-this {
	color: #3578f7;
}

.layui-input:focus,.layui-textarea:focus {
	border-color: #3578f7 !important;
}

.layui-input,.layui-select,.layui-textarea {
	height: 42px;
}

.layui-tabs-header .layui-this,.layui-tabs-header li:hover {
	color: #3578f7;
}

.layui-tabs-header li {
	font-size: 16px;
}

/* 强制隐藏横向滚动条 */
.layui-table-view .layui-table-body {
	overflow-x: hidden !important;
}

hr {
	border-bottom: 1px dashed #000;
}

.layui-layout-admin .layui-header {
	background-color: #3578f7;
	height: 80px;
	position: relative;	
}