.page-no-scroll {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    min-height: 80px;
}

/** loading */
.page-loading {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 19891017;
    background-color: #fff;
}

body > .page-loading {
    position: fixed;
    background-color: #f5f7f9;
}

.layui-layout-admin > .layui-body > .layui-tab > .layui-tab-content > .layui-tab-item > .page-loading,
.layui-layout-admin > .layui-body > .page-loading,
.layui-layout-admin > .layui-body > div > iframe[lay-id] + .page-loading {
    background-color: #f5f7f9;
}

.layui-layout-admin > .layui-body > .layui-body-header.show + div + .page-loading {
    top: 45px;
    height: auto;
}

.page-no-scroll {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    min-height: 80px;
}

.rubik-loader, .ball-loader, .signal-loader, .layui-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ball-loader > span, .signal-loader > span {
    background-color: #3578f7;
    display: inline-block;
}

.ball-loader > span:nth-child(1), .ball-loader.sm > span:nth-child(1), .signal-loader > span:nth-child(1), .signal-loader.sm > span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.ball-loader > span:nth-child(2), .ball-loader.sm > span:nth-child(2), .signal-loader > span:nth-child(2), .signal-loader.sm > span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.ball-loader > span:nth-child(3), .ball-loader.sm > span:nth-child(3), .signal-loader > span:nth-child(3), .signal-loader.sm > span:nth-child(3) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.ball-loader > span:nth-child(4), .ball-loader.sm > span:nth-child(4), .signal-loader > span:nth-child(4), .signal-loader.sm > span:nth-child(4) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

/* 魔方loading */
.rubik-loader {
    width: 64px;
    height: 64px;
    background-image: url(img/ic_loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rubik-loader.sm {
    width: 50px;
    height: 50px;
}

/* 球形loading */
.ball-loader > span {
    width: 20px;
    height: 20px;
    margin: 0 3px;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation: 1s ball-load ease-in-out infinite;
    animation: ball-load 1s ease-in-out infinite;
}

@-webkit-keyframes ball-load {
    0% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

@keyframes ball-load {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.ball-loader.sm > span {
    width: 15px;
    height: 15px;
    margin: 0 2px;
}

/* 信号loading */
.signal-loader {
    width: 50px;
    height: 22px;
}

.signal-loader > span {
    width: 8px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    -webkit-animation: signal-load 1s infinite;
    animation: signal-load 1s infinite;
}

.signal-loader > span:nth-child(2) {
    left: 14px;
}

.signal-loader > span:nth-child(3) {
    left: 28px;
}

.signal-loader > span:nth-child(4) {
    left: 42px;
}

@-webkit-keyframes signal-load {
    0% {
        height: 0;
    }
    50% {
        height: 22px;
    }
    100% {
        height: 0;
    }
}

@keyframes signal-load {
    0% {
        height: 0;
    }
    50% {
        height: 22px;
    }
    100% {
        height: 0;
    }
}

/* 信号loading小型 */
.signal-loader.sm {
    width: 32px;
    height: 15px;
}

.signal-loader.sm > span {
    width: 5px;
    -webkit-animation: signal-load-sm 1s infinite;
    animation: signal-load-sm 1s infinite;
}

.signal-loader.sm > span:nth-child(2) {
    left: 9px;
}

.signal-loader.sm > span:nth-child(3) {
    left: 18px;
}

.signal-loader.sm > span:nth-child(4) {
    left: 27px;
}

@-webkit-keyframes signal-load-sm {
    0% {
        height: 0;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 0;
    }
}

@keyframes signal-load-sm {
    0% {
        height: 0;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 0;
    }
}

/* 简洁风格loading */
.layui-loader .layui-icon {
    font-size: 36px;
    color: #bbb;
}

.layui-loader.sm .layui-icon {
    font-size: 30px;
}

/** //loading end */