tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:常规;
	mso-style-id:0;}
.style62
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:常规_专业版报价模板-2005;}
.font6
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;}
.font10
	{color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font14
	{color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;}
.font16
	{color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font20
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font21
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl69
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style62;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-family:黑体, monospace;
	mso-font-charset:134;
	text-align:center;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style62;
	color:windowtext;
	font-size:12.0pt;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"Long Date";
	text-align:left;
	vertical-align:bottom;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:right;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"\@";
	text-align:right;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style62;
	color:windowtext;
	font-size:12.0pt;
	background:white;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:right;
	background:white;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style62;
	color:black;
	font-size:10.0pt;
	font-weight:700;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style62;
	color:windowtext;
	font-size:10.0pt;
	text-align:left;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl85
	{mso-style-parent:style62;
	color:windowtext;
	font-size:12.0pt;
	text-align:right;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style62;
	color:windowtext;
	font-size:12.0pt;
	text-align:center;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style62;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
	mso-pattern:black none;
	white-space:normal;}
.xl89
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFFF99;
	mso-pattern:black none;
	white-space:normal;}
.xl90
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\.00\;\0022\00A5\0022\\-\#\,\#\#0\.00";
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFFF99;
	mso-pattern:black none;
	white-space:normal;}
.xl91
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\.00\;\0022\00A5\0022\\-\#\,\#\#0\.00";
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFFF99;
	mso-pattern:black none;
	white-space:normal;}
.xl92
	{mso-style-parent:style62;
	color:windowtext;
	vertical-align:bottom;
	background:white;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style62;
	color:windowtext;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl94
	{mso-style-parent:style62;
	color:windowtext;
	text-align:center;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl95
	{mso-style-parent:style62;
	color:windowtext;
	text-align:left;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl96
	{mso-style-parent:style62;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\;\0022\00A5\0022\\-\#\,\#\#0";
	text-align:center;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style62;
	color:windowtext;
	mso-number-format:"0_ ";
	text-align:center;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style62;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"0_ ";
	text-align:center;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style62;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\;\0022\00A5\0022\\-\#\,\#\#0";
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:center;
	border:.5pt solid windowtext;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:right;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl103
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:right;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\;\0022\00A5\0022\\-\#\,\#\#0";
	text-align:right;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
	mso-pattern:black none;
	white-space:normal;}
.xl106
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFFF99;
	mso-pattern:black none;
	white-space:normal;}
.xl107
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\.00\;\0022\00A5\0022\\-\#\,\#\#0\.00";
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFFF99;
	mso-pattern:black none;
	white-space:normal;}
.xl108
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\.00\;\0022\00A5\0022\\-\#\,\#\#0\.00";
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFFF99;
	mso-pattern:black none;
	white-space:normal;}
.xl109
	{mso-style-parent:style62;
	color:windowtext;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl110
	{mso-style-parent:style62;
	color:windowtext;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style62;
	color:windowtext;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl112
	{mso-style-parent:style62;
	color:windowtext;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl113
	{mso-style-parent:style62;
	color:windowtext;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl114
	{mso-style-parent:style62;
	color:windowtext;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl115
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\.00\;\0022\00A5\0022\\-\#\,\#\#0\.00";
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFFF99;
	mso-pattern:black none;
	white-space:normal;}
.xl116
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl117
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl118
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl119
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\;\0022\00A5\0022\\-\#\,\#\#0";
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl121
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl122
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl123
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:right;
	background:white;
	mso-pattern:black none;}
.xl124
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl125
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:left;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl126
	{mso-style-parent:style62;
	color:red;
	text-align:left;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl127
	{mso-style-parent:style62;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl128
	{mso-style-parent:style62;
	color:black;
	font-weight:700;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl129
	{mso-style-parent:style62;
	color:windowtext;
	background:white;
	mso-pattern:black none;}
.xl130
	{mso-style-parent:style62;
	color:black;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl131
	{mso-style-parent:style62;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl132
	{mso-style-parent:style62;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:right;
	background:white;
	mso-pattern:black none;}
.xl133
	{mso-style-parent:style62;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl134
	{mso-style-parent:style62;
	color:windowtext;
	font-weight:700;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl135
	{mso-style-parent:style62;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl136
	{mso-style-parent:style62;
	color:black;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;}
